#a1 {
  color:#8188d6;
}
#a2 {
  color:#f53d5c;
}

#a3 {
  color:#b0e364;
}

#a5 {
  color:#5c2d2d;
}

#a6 {
  color:#263854;
}

#a7 {
  color:#e69d97;
}

#a8 {
  color:#20d435;
}

#a9 {
  color:#2b3b2a;
}

body {
  background-color:#c1e0e0;
}
